# ==============================
# Entorno virtual
# ==============================
venv/
.env

# ==============================
# Archivos compilados de Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# ==============================
# Archivos de sistema operativo
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Archivos de editor
# ==============================
.vscode/
.idea/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Archivos temporales
# ==============================
*.sqlite3
